<style>
  .announceBanner {
    background-color: #5c90ff;
    position: fixed;
    width: 100%;
    color: white;
    text-align: center;
    padding: 5px;
  }
</style>

<div class="announceBanner"><a><%= announcement %></a><br><br>
<div style="width:101%;float:right">Bad Words Allowed: <span id="badwords">No</span></div></div>